.table-counter {
    display: flex;
    align-items: center;
    justify-content: center;

    i {
        margin-right: 4px;
    }

    .base-color {
        font-size: 14px;
        font-weight: 600;
        display: flex;
    }
}