<mat-card>
    <mat-card-title>Modals</mat-card-title>
    <section>
        <div class="example-button-row">
            <button mat-raised-button (click)="successMessage()">Success Message</button>
            <button mat-raised-button (click)="showInfoMessage()">Info Message</button>
            <button mat-raised-button (click)="showAlertMessage()">Alert Message</button>
            <button mat-raised-button (click)="showErrorMessage()">Error Message</button>
            <button mat-raised-button (click)="confirm()">Confirm</button>
            <button mat-raised-button (click)="showNotification()">Notification</button>
        </div>
    </section>
</mat-card>