<nggt-page-layout>
    <nggt-page-layout-header>
        <h1 class="mat-h1">Dev Guide</h1>
    </nggt-page-layout-header>
    <nggt-page-layout-content>
        <nggt-dev-guide-modals></nggt-dev-guide-modals>
        <div class="spacer-vert"></div>
        <nggt-dev-guide-form></nggt-dev-guide-form>
        <div class="spacer-vert"></div>
        <nggt-dev-guide-packages></nggt-dev-guide-packages>
        <div class="spacer-vert"></div>
        <nggt-dev-guide-skeletons></nggt-dev-guide-skeletons>
        <div class="spacer-vert"></div>
    </nggt-page-layout-content>
</nggt-page-layout>