<mat-card>
    <mat-card-title>Third Party Packages Used</mat-card-title>
    <section>
        <mat-list role="list">
            <mat-list-item role="listitem">ngx-perfect-scrollbar</mat-list-item>
            <mat-list-item role="listitem">ngx-skeleton-loader</mat-list-item>
            <mat-list-item role="listitem">xng-breadcrumb</mat-list-item>
            <mat-list-item role="listitem">ng-idle/keepalive</mat-list-item>
            <mat-list-item role="listitem">vslabs/ngx-mat-modal</mat-list-item>
            <mat-list-item role="listitem">vslabs/ngx-tiny-store</mat-list-item>
        </mat-list>
    </section>
</mat-card>